*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --heading-font :  Poppins , Arial, sans-serif;
    --heading-weight : 700;

    --body-font : 'Open Sans' , Arial, sans-serif;
    --body-weight-one : 400;
    --body-weight-two : 600;
    --body-weight-three : 700;

    --icon-moon : url('https://fontawesome.com/');
    --ion-icons : url('https://ionicons.com/');

    --mobile-width : 375px;
    --desktop-width : 1440px;

    --clr-primary-lighter : hsl(322, 100%, 66%);
    --clr-primary-lightest : hsl(321, 100%, 78%);
    --clr-primary-light : hsl(0, 100%, 63%);

    --clr-neutral-dark : hsl(192, 100%, 9%);
    --clr-neutral : hsl(210, 100%, 98%);
}


body{
    font-family: var(--body-font);
}

.header-title,
.stats,
.section-container .section-title,
.cta .cta-title
{   
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);    
}

.newsletter-title{
    font-weight: var(--body-weight-two);
}

footer{
    background-color: var(--clr-neutral-dark);
    color: var(--clr-neutral);
}
.twitter img {
    border:1.5px solid var(--clr-neutral);
    background-color: var(--clr-neutral);
    border-radius: 1.3px;
}

.logo-container path{
    fill: var(--clr-neutral);
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }  