*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --heading-font :  Poppins , Arial, sans-serif;
    --heading-weight : 700;

    --body-font : 'Open Sans' , Arial, sans-serif;
    --body-weight-one : 400;
    --body-weight-two : 600;
    --body-weight-three : 700;

    --icon-moon : url('https://fontawesome.com/');
    --ion-icons : url('https://ionicons.com/');

    --mobile-width : 375px;
    --desktop-width : 1440px;

    --clr-primary-lighter : hsl(322, 100%, 66%);
    --clr-primary-lightest : hsl(321, 100%, 78%);
    --clr-primary-light : hsl(0, 100%, 63%);

    --clr-neutral-dark : hsl(192, 100%, 9%);
    --clr-neutral : hsl(210, 100%, 98%);

    --bg-clr : #FFF;

    --border: 1px solid red;
}

/*                      Typography                   */

body{
    font-family: var(--body-font);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    overflow-x: hidden;
}

.header-title,
.stats,
.section-container .section-title,
.cta .cta-title
{   
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);    
}

.newsletter-title{
    font-weight: var(--body-weight-two);
}

/*                             Navbar                    */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin:  2.5% 3% 11.5% 5%;
}

.nav-link{
    border: 2px solid var(--clr-primary-lightest);
    border-radius: 20px;

    color: var(--clr-primary-lightest);

    padding: 0.5em 1em;
}


/*                    Header           */

.header-container,
.stats-container{
    padding: 0 14% 5%;  
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    text-align: center;    
}

.header-title{
    font-size: calc(1em + 2vw) ;
}
   
.header-content{
    max-width: 30em;
}

.get-started, 
.subscribe-btn{
    color: var(--clr-neutral);
    background-color: var(--clr-primary-lighter);
}
.get-started{    
    padding: 1em 4em;
    margin-top: 1%;

    display: inline-block;

    border-radius: 35px;
}

/*                  Stats Section                   */



.stats-blocks-container{
    display: flex;
    justify-content: space-between;
    gap: 1em;

    padding: 4em 0;    
}

.stats-block img{
    max-width: 30%;
}

.communities{
    padding-left: 3.3em;
}

.messages{
    padding-right: 9em;
    padding-top: 0;
}

.stats{
    font-family :var(--body-font);
    font-size: 3.5em;
}   

.stats-content{
    color: rgb(153, 151, 151);
    text-align: center;
}


/*                  Grow Together , Users, conversation              */

.grow-container,
.users-container{
    background-color: var(--clr-neutral);
}

.grow-container .section-top-desktop-1 ,
.users-container .section-top-desktop-2
{
    background-color: var(--bg-clr);
    width: 100%;
}

.section-container{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1.5% 15%;
    gap:5em;
}

.section-title{
    font-size: 1.5em;
    padding-bottom: 1em;
    font-weight: var(--body-weight-three);
}

.conversation-block{
    order: 2;
}

.conversation-container{
    padding-top: 5% ;
    padding-bottom: 5%;
}


/*                              cta section         */
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    padding-top: 7%;
    padding-bottom: 10%;
}

.cta .cta-title{ 
    font-size: 1.5em;
}


/*                              footer                   */
.footer-svg-top{
    background-color: #ffffff; 
    margin-bottom: -1%;
}

.twitter img {
    border:1.5px solid var(--clr-neutral);
    background-color: var(--clr-neutral);
    border-radius: 1.3px;
}

.logo-container path{
    fill: var(--clr-neutral);
}

.footer{
    background-color: var(--clr-neutral-dark);
    color: var(--clr-neutral);

    padding: 6% 15% 1em;

    display: grid;
    grid-template-rows: repeat(1fr,auto);
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2em 35%;

    align-content: center;
    justify-content: space-around;

    grid-template-areas: 
        'footer-left footer-right'
        'footer-left footer-right'
        'footer-bottom footer-bottom';
    

}

.footer-left-container{
    grid-area: footer-left;
}

.footer-right-container{
    grid-area: footer-right;
}

.attribution{
    grid-area: footer-bottom;
}

.footer-content,
.phone,
.email{
    font-size: 0.8em;
}
.footer-left-container,
.footer-right-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.phone ,
.email{
    display: flex;
    gap: 1em;
}

.icon-container {
    display: flex;
    justify-content: flex-start;
    gap: 1em;

    padding-top: 2em;
}

.subscribe-container{
    display: flex;
    justify-content: flex-start;
    gap: 1.5em;

    padding-top: 1em;
}

.subscribe-btn, 
.subscribe-text{
    border-radius: 3px;
}

.subscribe-text{
    border-color: transparent;
    width: 30ch;
}

.subscribe-btn{
    padding: 1.2% 6%;
    border: 3px solid var(--clr-primary-lighter);    
}

.attribution{
    font-size: 11px; 
    text-align: center; 
}

.attribution a{
    color: hsl(228, 45%, 44%);
   
}  